.text{
    font-size: 0.65rem;
    width: 100%;
    display: flex;
    align-items: baseline;
    padding: 1rem 10%;
    height: 5rem;
    background-color: #202020; 
    color: #94fdfd;
    position: fixed;
    bottom:-3vh;
}

.text_container{
    position: absolute;
    bottom:2vh;
}

@media (min-width: 768px) {
    .text {
      font-size: 1.2rem;
    }
}
